﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand
{
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

/* Provide sufficient contrast against white background */
a
{
	color: #0366d6;
}

.btn-primary
{
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link
{
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html
{
	font-size: 14px;
}

@media (min-width: 768px)
{
	html
	{
		font-size: 16px;
	}
}

.border-top
{
	border-top: 1px solid #e5e5e5;
}

.border-bottom
{
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow
{
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy
{
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html
{
	position: relative;
	min-height: 100%;
}

body
{
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px; /* Vertically center the text there */
}

.synopsis
{
	max-height: 120px;
	overflow: auto;
}

.movie-shot
{
	width: 240px;
	-webkit-object-fit: cover;
	object-fit: cover;
	-webkit-object-position: top;
	object-position: top;
	height: 125px;
}

.movie-shots
{
	max-height: 400px;
	overflow: auto;
}

.movie-cert
{
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.figure
{
	display: table;
}

	.figure + .figure:nth-child(2n)
	{
		margin-left: 1rem;
	}

.figure-caption
{
	display: table-caption;
	caption-side: bottom;
}

.unavailable
{
	-ms-opacity: .3;
	opacity: .3;
	background: red;
	pointer-events: none;
}
