﻿@page "{currentpage:int?}"
@model IndexModel
@{
	ViewData["Title"] = "Movies";
}

<div class="text-center">
	<h1 class="display-4">Movies</h1>

	<div class="row row-cols-1 row-cols-lg-2">
		@foreach (var movie in Model.Movies)
		{
			<div class="col mb-4">
				<div class="card h-100">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<span class="badge badge-pill badge-dark movie-cert">@movie.Cert</span>

								<picture>
									@foreach (var image in movie.KeyArtImages)
									{
										<source media="(min-width: @(image.W)px)" srcset="@image.Url">
									}
									<img src="@movie.KeyArtImages.Single(x => x.W == movie.KeyArtImages.Min(x => x.W)).Url" class="shadow">
								</picture>

								<h5 class="card-title">@movie.Headline</h5>

								@if (movie.Genres != null)
								{
									<h6 class="card-subtitle text-muted">@string.Join(", ", movie.Genres)</h6>
								}

								<div class="btn-group btn-group-sm mb-2">
									@for (var i = 1; i <= movie.Rating; i++)
									{
										<button class="btn text-warning" disabled>&#9733;</button>
									}
									@for (var i = movie.Rating + 1; i <= 5; i++)
									{
										<button class="btn text-muted" disabled>&#9733;</button>
									}
								</div>
							</div>
							<div class="col">
								<dl class="text-left">
									<dt>Year</dt>
									<dd>@movie.Year</dd>
									<dt>Directors</dt>
									<dd>
										<ul class="list-inline mb-0">
											@foreach (var director in movie.Directors)
											{
												<li class="list-inline-item">@director.Name</li>
											}
										</ul>
									</dd>
									<dt>Cast</dt>
									<dd>
										<ul class="list-inline mb-0">
											@foreach (var actor in movie.Cast)
											{
												<li class="list-inline-item">@actor.Name</li>
											}
										</ul>
									</dd>
									<dt>Duration</dt>
									<dd>@TimeSpan.FromSeconds(movie.Duration).ToString(@"hh\:mm")</dd>
								</dl>
							</div>
						</div>

						<div class="card-text text-left">
							@movie.Synopsis

							@if (!string.IsNullOrEmpty(movie.Body))
							{
								<div class="d-inline-block">
									<span class="collapse text-justify" id="m-@movie.Id">@movie.Body</span>
									<a class="d-inline ml-1" data-toggle="collapse" href="#m-@movie.Id">Toggle story details...</a>
								</div>
							}
						</div>

						@if (!string.IsNullOrEmpty(movie.Quote))
						{

							<blockquote class="blockquote mx-3 mt-3 text-left">
								<a class="small" href="@movie.Url" target="_blank">@movie.Quote</a>
								<footer class="blockquote-footer">@(movie.ReviewAuthor ?? "anonymous")</footer>
							</blockquote>
						}

						<div class="d-flex flex-wrap justify-content-center my-3">
							@if (movie.Videos != null)
							{
								foreach (var video in movie.Videos)
								{
									<figure class="figure">
										<video width="240" height="180" controls class="img-thumbnail">
											<source src="@video.Url">
											@if (video.Alternatives != null)
											{
												foreach (var alternative in video.Alternatives)
												{
													<source src="@alternative.Url">
												}
											}
										</video>
										<figcaption class="figure-caption">@video.Title</figcaption>
									</figure>
								}
							}
							<figure class="figure">
								<a href="javascript:void(0)" data-toggle="modal" data-target="#photoModal" data-sources="@Newtonsoft.Json.JsonConvert.SerializeObject(movie.CardImages.ToDictionary(x => x.W, x => x.Url))">
									<img class="movie-shot img-thumbnail" src="@movie.CardImages.Single(x => x.W == 768).Url">
								</a>
								<figcaption class="figure-caption">@movie.Headline</figcaption>
							</figure>
						</div>

					</div>

					@if (movie.ViewingWindow != null)
					{
						<p class="alert alert-info small mx-3">
							Watch on
							@if (!string.IsNullOrEmpty(movie.SkyGoUrl))
							{
								<a href="@movie.SkyGoUrl " target="_blank" class="alert-link">
									@movie.ViewingWindow.WayToWatch
								</a>
							}
							else
							{
								@movie.ViewingWindow.WayToWatch
							}
							between @movie.ViewingWindow.StartDate.ToString("d")
							and @movie.ViewingWindow.StartDate.ToString("d")
						</p>
					}

					<div class="card-footer text-muted small">
						Last updated on @movie.LastUpdated.ToString("d")
					</div>
				</div>
			</div>
		}
	</div>

	@if (Model.PageCount > 0)
	{
		<ul class="pagination justify-content-center">
			<li class="page-item @(!Model.ShowFirst? "disabled":"")">
				<a asp-page="/index" asp-route-currentpage="1" class="page-link">First</a>
			</li>

			<li class="page-item @(!Model.ShowPrevious? "disabled":"")">
				<a asp-page="/index" asp-route-currentpage="@(Model.CurrentPage -1)" class="page-link">Previous</a>
			</li>
			@for (var i = 1; i <= Model.PageCount; i++)
			{
				<li class="page-item @(i == Model.CurrentPage ? "active" : "")">
					<a asp-page="/index" asp-route-currentpage="@i" class="page-link">@i</a>
				</li>
			}
			<li class="page-item  @(!Model.ShowNext? "disabled":"")">
				<a asp-page="/index" asp-route-currentpage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
			</li>

			<li class="page-item  @(!Model.ShowLast? "disabled":"")">
				<a asp-page="/index" asp-route-currentpage="@Model.PageCount" class="page-link">Last</a>
			</li>
		</ul>
	}
	else
	{
		<p class="alert alert-danger">No movies found!</p>
	}
</div>

<div class="modal fade" id="photoModal" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body text-center">
			</div>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="~/js/site.js"></script>
}